.related-info {
  margin-top: 1.8rem;

  .tabs {
    margin-bottom: 1rem;

    ul {
      border-bottom: 1px solid #dbdbdb;

      li {
        a {
          border: 0;
        }

        &.is-active {
          a {
            color: #ff3860;
            border-bottom: 2px solid #ff3860;
          }
        }
      }
    }
  }
}

.columns {
  &.related-info {
    &:last-child {
      margin-bottom: 1.8rem;
    }
  }
}